.meme-generator {
  margin: 20px auto;
  width: 70%;
  font-family: sans-serif;
}

body {
  background-color: #0c1022;
  color: #fff;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;

}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;

}

#meme {
  width: 100%;

}